@font-face {
	font-family: 'VoyagerGrotesque';
	src: url('fonts/VoyagerGrotesqueLight.eot');
	src: local('Voyager Grotesque Light'), local('VoyagerGrotesqueLight'),
	url('fonts/VoyagerGrotesqueLight.eot?#iefix') format('embedded-opentype'),
	url('fonts/VoyagerGrotesqueLight.woff2') format('woff2'),
	url('fonts/VoyagerGrotesqueLight.woff') format('woff'),
	url('fonts/VoyagerGrotesqueLight.ttf') format('truetype'),
	url('fonts/VoyagerGrotesqueLight.svg#fonts/VoyagerGrotesqueLight') format('svg');
	font-weight: 300;
	font-style: normal;
}



body {
	margin: 0;
	background-color: rgb(10,10,10);
	color: #fff;
	font-family: "VoyagerGrotesque", monospace;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}